*,
*::after,
*::before{
    box-sizing: border-box;
}

ul{
   
    list-style: none;
}

li{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 17px;
}

.container{
    background-color: #728FCE;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.events{
    width: 560px;
    height: 414px;
    flex-direction: column;
    display: block;
    position: fixed;
    background-color: #728FCE;
}

.events__inner{
    background-color: #728FCE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.events__title{
    font-style: normal;
    font-weight: 100;
    line-height: 100px; 
    letter-spacing: 33px;
    text-transform: uppercase;
    text-indent: 1.1em;
    letter-spacing: 1.1em;
    color: #FFF;
    margin: 45px 0 65px 0;
    padding: 0;

}

.events__buttons--text{
    color: #FFF;
    background-color: #728FCE;
    display: block;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 451px;
    padding: 40px;
    border-radius: 60px;
    border: 1px solid;
    text-align: center;
    letter-spacing: 6.8px;
    transition: all .2s;
}

.events__buttons--text:hover {
    color: #728FCE;
    background-color: #FFF;
}

.events__buttons{
    display: flex;
    justify-content: space-around;
    width: 695px;
    height: 265px;
}

.events__buttons--admin{
    background: url(../images/buttonadmin.svg); 
    display: block; 
    width: 298px; 
    height: 261px;
    transition: all .4s;
}

.events__buttons--admin:hover{
    background: url(../images/buttonadminhover.svg);
}

