*,
*::after,
*::before{
    box-sizing: border-box;
}

ul{
   
    list-style: none;
}

li{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 17px;
}
.container{
     max-width: 1220px;
     margin: 0 auto;
     padding: 0 10px;
}

.events__inner{
    background-color: #728FCE;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.events__title{
    font-style: normal;
    font-weight: 100;
    line-height: 100px; 
    letter-spacing: 33px;
    text-transform: uppercase;
    padding: 10px calc(0px - 1.1em);
    text-indent: 1.1em;
    letter-spacing: 1.1em;
    color: #FFF;
}

.events__buttons--user {
    background: url(../images/buttonuser.svg); 
    display: block; 
    width: 298px; 
    height: 261px;
    transition: all .4s;
}

.events__buttons--user:hover {
    background: url(../images/buttonuserhover.svg); 
}

.events__buttons{
    display: flex;
    justify-content: space-around;
    width: 695px;
    height: 265px;
}

.events__buttons--admin{
    background: url(../images/buttonadmin.svg); 
    display: block; 
    width: 298px; 
    height: 261px;
    transition: all .4s;
}

.events__buttons--admin:hover{
    background: url(../images/buttonadminhover.svg);
}

.events__logo{
    background: url(../images/logobig.svg);
    display: block; 
    width: 102px; 
    height: 101px;
}