{% extends 'inner.html' %}
{% block title %}
Создание мероприятия
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/formfooter.css')}}">
<div class="form">
    <div class="container">
        <div class="reg--items">
            <div class="reg--items--title">
                <div class="red--item"><img src="../static/images/profile.png" alt="" class="events__image"></div>
                <p>мероприятия</p>
            </div>
            <div class="reg--items--action">
                <p>вход</p>
                <label for="event" class="form-label"><p>название мероприятия</p></label>
                <input name="eventName" type="text" class="form-control" id="event">
            </div>
            <lab</lab>
        </div>
    </div>
</div>
{% endblock %}