{% extends 'inner.html' %}
{% block title %}
Регистрация Администратора
{% endblock %}
{% block body %}

    <div class="admin--buttons">
        <div class="container">
            <div class="buttons">
                <div class="button--create">
                    <a href="form"><p>создать мероприятие</p></a>
                </div>
                <div class="button--list">
                    <a href="eventslist"><p>список мероприятий</p></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}