{% extends 'inner.html' %}
{% block title %}
Список мероприятий
{% endblock %}
{% block body %}
    <div class="container">
        <div class="list--items">
            <div class="list--item__btn">
                <div class="back">
                        <a href="#" onclick="history.back();">на главную</a>
                </div>
            </div>
            <div class="list--item__positions">
                {% for i in result %}
                <ul>
                    <p>номер мероприятия:</p><li>{{ i[0] }}</li>
                    <p>названия мероприятия:</p><li>{{ i[1] }}</li>
                    <p>дата мироприятия:</p><li>{{ i[2] }}</li>
                    <p>наличие команд:</p><li>{{ i[3] }}</li>
                </ul>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
