{% extends 'inner.html' %}
{% block title %}
Создание мероприятия
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/formfooter.css')}}">
<div class="form">
    <div class="container">
         <div class="form--items">
            <div class="back">
                <a href="#" onclick="history.back();">на главную</a>
            </div>
             <div class="inputs">
                 <form action="{{ url_for('read_form')}}" method="post">
                     <label for="event" class="form-label"><p>название мероприятия</p></label>
                     <input name="eventName" type="text" class="form-control" id="event">
                     <label for="date" class="form-label"><p>дата</p></label>
                     <input name="date" type="text" onfocus="(this.type='date')" class="form-control" id="date">
                     <input type="radio" name="team" id="yes" checked />
                     <input type="radio" name="team" id="no"/>
                     <p>наличие команды</p>
                     <div class="switch">
                         <label for="yes" >да</label>
                         <label for="no" >нет</label>
                         <span></span>
                     </div>
                     <div class="btn--form"><button type="submit" class="btn btn-primary"><p>отправить</p></button></div>
                 </form>
             </div>
         </div>
    </div>
</div>
{% endblock %}