<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
    <div class="container--form">
         <form method="POST" action="/submit" >


            <input type="text" name="название мероприятия" placeholder="Введите название мероприятия">


            <input type="date" name="дата" placeholder="Введите дату">

            <input type="text" name="команда" placeholder="Введите название команды">

            <input type="text" name="участники" placeholder="Введите участника">

            <input type="submit" value="Отправить">

        </form>
    </div>
</body>
</html>