<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <section class="container">
        <div class="events">
            <div class="events__inner">
                <a href="" class="events__logo"></a>
                <img src="../static/images/profile.png" alt="" class="events__image">
                <p class="events__title">меропрития</p>
                <a href="" class="events__buttons--text">
                        зарегестрироваться
                </a>
            </div>
        </div>
    </section>
</body>
</html>