{% extends 'inner.html' %}
{% block title %}
Регистрация
{% endblock %}
{% block body %}
<section class="container">
        <div class="events">
            <div class="events__inner">
                <a href="" class="events__logo"></a>
                <img src="../static/images/profile.png" alt="" class="events__image">
                <p class="events__title">мероприятия</p>
                <a href="" class="events__buttons--text">
                        зарегистрироваться
                </a>
            </div>
        </div>
    </section>
{% endblock %}