{% extends 'inner.html' %}
{% block title %}
Регистрация
{% endblock %}

{% block body %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Новые заявки</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Принять или отклонить</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">

            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static',filename='assets/img/hero-img.png') }}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
<div class="container mt-5">
<form action="/register" method="post" class="form-contact">
<p><label>Имя: </label> <input type="text" name="name" value="" required />
<p><label>Email: </label> <input type="text" name="email" value="" required />
<p><label>Пароль: </label> <input type="password" name="psw" value="" required />
<p><label>Повтор пароля: </label> <input type="password" name="psw2" value="" required />
<p><input type="submit" value="Регистрация" />
</form>
{% endblock %}